@import 'variables';

.stars {
  display: flex;
  align-items: center;
  gap: 4px;

  &__star {
    width: 16px;
    height: 16px;
    background: url($star-default) center no-repeat;
  }

  @for $i from 1 through 5 {
    &--#{$i} {
      .stars__star:nth-child(-n + #{$i}) {
        background-image: url($star-active);
      }
    }
  }
}
